---
layout: default
title: News
permalink: news
---
<div class="container">
    <h1><b>NEWS</b></h1>


    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Filtra news
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">

<!--             <div class="container mx-5 my-5">
            <div class="range-slider">
              <span id="rs-bullet_year" class="rs-label">2023</span>
              <input id="rs-range-line_year" class="rs-range" type="range" value="" min="1990" max="2023">
            </div>
            <div class="range-slider">
              <span id="rs-bullet_month" class="rs-label">Gennaio</span>
              <input id="rs-range-line_month" class="rs-range" type="range" value="" min="1" max="12">
            </div>
            </div> -->

            <div class="container pb-5 pt-4">
              <p style="color: rgb(0, 136, 255);">Anno:</p>
              <Input class="range_news" type="range" id="barra_news_anno" min="1990" max="2023"></Input>
              <span id="valore_news_anno" style="color: rgb(0, 136, 255);">Seleziona l'anno</span>
          </div>
          <div class="container pb-5 pt-1">
            <p style="color: rgb(0, 136, 255);">Mese:</p>
            <Input class="range_news" type="range" id="barra_news_mese" min="1" max="12"></Input>
            <span id="valore_news_mese" style="color: rgb(0, 136, 255);">Seleziona il mese</span>
          </div>

          </div>
        </div>
      </div>
    </div>



    <div class="row row-cols-1 row-cols-md-2 g-4 py-4">

      {% for post in site.posts %}
      
    <div class="col">

    <div class="card">
      <div class="card-body">
          <div class="post-header">
              <time class="post-date" style="color:rgba(149, 148, 116, 0.99)" id= "orario" datetime="{{ post.date | date: "%d %m %Y" }}">{{post.date | date: "%d-%m-%Y" }}</time>
              <h2 class="post-title"><!-- <a href="{{ site.baseurl }}{{ post.url }}" rel="bookmark">{{post.title}}</a> -->{{post.title}}</h2>
              <div class="post-meta">
                By <span class="post-author">{{ site.data.author.name }}</span>{% if post.tags.size > 0 %}<span
                  class="post-tags"> in
                  {% for tag in post.tags %}<a href="{{ site.baseurl }}/tags/#{{ tag | cgi_escape }}" rel="tag">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</span>{% endif %}
              </div><!-- .post-meta -->
            </div><!-- .post-header -->
      <img src="{{ post.feature_image | relative_url }}" class="card-img-top" alt="...">
      <div class="post-content pt-2">
          {% if post.content contains '<!--more-->' %}
          {{ post.content | split:'<!--more-->' | first }}
          <p class="read-more"><a href="{{ site.baseurl }}{{ post.url }}" class="read-more-link">Continua a leggere &rarr;</a>
          </p>
          {% else %}
          {{ post.content }}
          {% endif %}
      </div><!-- .post-content -->
      </div>
    </div>

      </div>

      {% endfor %}
    </div>

</div> 