
<section class="py-5 text-center container">
	<div class="row py-lg-1">
	  <div class="col-lg-6 col-md-8 mx-auto">
		<h1 class="fw-dark">AREE</h1>
		<p class="lead text-muted">Gli 8 sub-ambiti del distretto urbano di Torino</p>
	  </div>
	</div>
</section>



<div class="container text-center pb-5">
    <div class="row">
      <div class="col">
        <div class="card text-bg-dark">
            <img src="assets/img/areas.jpg" class="card-img opacity-50" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">Area 1</h5>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card text-bg-dark">
            <img src="assets/img/areas.jpg" class="card-img opacity-50" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">Area 2</h5>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card text-bg-dark">
            <img src="assets/img/areas.jpg" class="card-img opacity-50" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">Area 3</h5>
            </div>
          </div>
      </div>
      <div class="col pb-3">
        <div class="card text-bg-dark">
            <img src="assets/img/areas.jpg" class="card-img opacity-50" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">Area 4</h5>
            </div>
          </div>
      </div>
      </div>
      <div class="row">
      <div class="col">
        <div class="card text-bg-dark">
            <img src="assets/img/areas.jpg" class="card-img opacity-50" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">Area 5</h5>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card text-bg-dark">
            <img src="assets/img/areas.jpg" class="card-img opacity-50" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">Area 6</h5>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card text-bg-dark">
            <img src="assets/img/areas.jpg" class="card-img opacity-50" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">Area 7</h5>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card text-bg-dark">
            <img src="assets/img/areas.jpg" class="card-img opacity-50" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">Area 8</h5>
            </div>
          </div>
      </div>
    </div>
  </div>