<section class="py-3 text-center container">
	<div class="row py-lg-3">
	  <div class="col-lg-6 col-md-8 mx-auto">
		<h1 class="fw-dark"><a href= "{{ site.baseurl}}/aree" class="nav-link link-secondary">AREE</a></h1>
		<p class="lead text-muted">Gli 8 sub-ambiti del distretto urbano di Torino</p>
	  </div>
	</div>
</section>

<div class="container aree text-center pb-5">
    <div class="row">
      <div class="col-md-3 col-6 mb-4">
        <div class="card text-bg-dark">
          <a href="{{ site.baseurl}}/aree/#area1" class="nav-link link-white">
            <img src="assets/img/area-cultura.jpg" class="card-img" alt="Cultura">
            <div class="card-img-overlay">
              <h5 class="card-title">Cultura</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-4">
        <div class="card text-bg-dark">
          <a href="{{ site.baseurl}}/aree/#area2" class="nav-link link-white">
            <img src="assets/img/area-shopping.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">Shopping</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-4">
        <div class="card text-bg-dark">
          <a href="{{ site.baseurl}}/aree/#area3" class="nav-link link-white">
            <img src="assets/img/area-porta-palazzo.jpg" class="card-img opacity-50" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">Porta Palazzo</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-4">
        <div class="card text-bg-dark">
          <a href="{{ site.baseurl}}/aree/#area4" class="nav-link link-white">
            <img src="assets/img/area-balon.jpg" class="card-img opacity-50" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">Balon</h5>
            </div>
          </a>
        </div>
      </div>
      </div>
      <div class="row">
      <div class="col-md-3 col-6 mb-4">
        <div class="card text-bg-dark">
          <a href="{{ site.baseurl}}/aree/#area5" class="nav-link link-white">
            <img src="assets/img/area-piazza-vittorio.jpg" class="card-img opacity-50" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">Il fiume, Murazzi, Piazza Vittorio</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-4">
        <div class="card text-bg-dark">
          <a href="{{ site.baseurl}}/aree/#area6" class="nav-link link-white">
            <img src="assets/img/area-porta-nuova.jpg" class="card-img opacity-50" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">Porta Nuova, Sacchi e Nizza</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-4">
        <div class="card text-bg-dark">
          <a href="{{ site.baseurl}}/aree/#area7" class="nav-link link-white">
            <img src="assets/img/area-porta-susa.jpg" class="card-img opacity-50" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">Porta Susa</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-4">
        <div class="card text-bg-dark">
          <a href="{{ site.baseurl}}/aree/#area8" class="nav-link link-white">
            <img src="assets/img/area-quadrilatero.jpg" class="card-img opacity-50" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">Quadrilatero Romano</h5>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>