<section class="py-3 text-center container">
	<div class="row py-lg-3">
	  <div class="col-lg-6 col-md-8 mx-auto">
		<h1 class="fw-dark"><a href= "{{ site.baseurl}}/aree" class="nav-link link-secondary">AREE</a></h1>
		<p class="lead text-muted">Gli 8 sub-ambiti del distretto urbano di Torino</p>
	  </div>
	</div>
</section>

<div class="container aree text-center pb-5">
    <div class="row">
      <div class="col-md-3 col-6 mb-4">
        <div class="card text-bg-dark">
          <a href="{{ site.baseurl}}/aree#area1" class="nav-link link-white">
            <img src="assets/img/cultura.png" class="card-img" alt="Cultura">
            <div class="card-img-overlay">
              <h5 class="card-title text-dark fw-bold">Cultura</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-4">
        <div class="card text-bg-dark">
          <a href="{{ site.baseurl}}/aree#area2" class="nav-link link-white">
            <img src="assets/img/shopping.png" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title text-dark fw-bold">Shopping</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-4">
        <div class="card text-bg-dark">
          <a href="{{ site.baseurl}}/aree#area3" class="nav-link link-white">
            <img src="assets/img/portapalazzo.png" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title text-dark fw-bold">Porta Palazzo</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-4">
        <div class="card text-bg-dark">
          <a href="{{ site.baseurl}}/aree#area4" class="nav-link link-white">
            <img src="assets/img/balon.png" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title text-dark fw-bold">Balon</h5>
            </div>
          </a>
        </div>
      </div>
      </div>
      <div class="row">
      <div class="col-md-3 col-6 mb-4">
        <div class="card text-bg-dark">
          <a href="{{ site.baseurl}}/aree#area5" class="nav-link link-white">
            <img src="assets/img/piazzavittorio.png" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title text-dark fw-bold">Piazza Vittorio, il fiume e i Murazzi</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-4">
        <div class="card text-bg-dark">
          <a href="{{ site.baseurl}}/aree#area6" class="nav-link link-white">
            <img src="assets/img/portanuova.png" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title text-dark fw-bold">Porta Nuova, Sacchi e Nizza</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-4">
        <div class="card text-bg-dark">
          <a href="{{ site.baseurl}}/aree#area7" class="nav-link link-white">
            <img src="assets/img/portasusa.png" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title text-dark fw-bold">Porta Susa</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-4">
        <div class="card text-bg-dark">
          <a href="{{ site.baseurl}}/aree#area8" class="nav-link link-white">
            <img src="assets/img/garibaldi.png" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title text-dark fw-bold">Quadrilatero Romano</h5>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>