<section class="py-3 text-center container bg-light border border-grey">
	<div class="row py-lg-3">
	  <div class="col-lg-6 col-md-8 mx-auto">
		<h1 class="fw-dark"><a href= "{{ site.baseurl}}/chi-siamo" class="nav-link link-secondary">CHI SIAMO</a></h1>
		<p class="lead text-muted">Il Distretto del Commercio del Comune di Torino</p>
		<p class="text">Il Distretto Urbano del Commercio di Torino nasce grazie all'impegno della Città di Torino, di ASCOM Confcommercio Torino e Provincia e Confesercenti Torino e Provincia, che decidono di lavorare insieme con la volontà di dotarsi di uno strumento di promozione e sostegno del commercio di prossimità, quella fitta e insostituibile rete composta da migliaia di negozi, bar, ristoranti e tutte quelle attività che aiutano a mantenere viva la città e forniscono un servizio essenziale per chi abita, lavora e visita Torino. 

			I Distretti del Commercio, riconosciuti dalla Regione Piemonte, hanno quindi l’obiettivo di valorizzare il commercio urbano, realizzare progetti innovativi e azioni di animazione territoriale, riconoscere il commercio come un “fattore di innovazione, integrazione e valorizzazione di tutte le risorse di cui dispone il territorio per accrescere l’attrattività, rigenerare il tessuto urbano e sostenere la competitività delle imprese commerciali”.  
			
			L’area del Distretto include il centro storico della città e altre zone che vanno dai Murazzi e piazza Vittorio, Porta Palazzo e l’ambito di Borgo Dora, San Salvario e gli assi commerciali di via Sacchi e via Nizza, piazza Statuto. Un’area che ospita circa 7.800 negozi, più di 200 attività ricettive, 1.690 esercizi pubblici di somministrazione, oltre ad alcune centinaia di attività di servizi alla persona.  
			
			Un’offerta commerciale ricca e variegata, che contribuisce in maniera fondamentale a rendere Torino una città viva e accogliente. </p>
	  </div>
	</div>
</section>

<hr>