<footer class="text-white text-center text-lg-start bg-light" style="background:linear-gradient(rgba(3, 79, 43, 0.536),rgba(43, 109, 195, 0.787))">
    <div class="container py-4 mt-5">
      <div class="row mt-5">
        <div class="col-lg-3 col-md-12 mb-4 mb-md-0 me-5">
          <a href="index.html"><img href="index.html" src="{{site.baseurl}}/assets/img/DUC_Torino_logo_digital.svg" class="img-fluid pe-5" style="filter: invert(100%);"></a>
        </div>

        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">DUC TORINO</h5>

          <p><small>
            I Distretti del Commercio hanno l’obiettivo di valorizzare il commercio urbano, realizzare progetti innovativi e azioni di animazione territoriale, riconoscere il commercio come un “fattore di innovazione, integrazione e valorizzazione di tutte le risorse di cui dispone il territorio per accrescere l’attrattività, rigenerare il tessuto urbano e sostenere la competitività delle imprese commerciali.
          </small></p>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4 pb-1">CONTATTI</h5>

          <ul class="fa-ul" style="margin-left: 1.65em;">
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Corso xxxxxxxxx, 30/A, 10129 Torino TO</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">contact@example.com</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">Tel.  +39 111222333</span>
            </li>
          </ul>
        </div>

      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    </div>
  </footer>