<footer class="text-white text-center text-lg-start bg-light" style="background:linear-gradient(rgba(3, 79, 43, 0.536),rgba(43, 109, 195, 0.787))">
    <div class="container py-4 mt-5">
      <div class="row mt-5">
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <a href="http://www.comune.torino.it/"><img href="http://www.comune.torino.it/" src="{{site.baseurl}}/assets/img/logo_nero.svg" class="img-fluid w-75" style="filter: invert(100%);"></a>
          <a href="index.html"><img href="index.html" src="{{site.baseurl}}/assets/img/DUC_Torino_logo_digital.svg" class="img-fluid w-75" style="filter: invert(100%);"></a>
        </div>

        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h4 class="text-uppercase mb-4">DUC TORINO</h4>

          <p><small>
            I Distretti del Commercio hanno l’obiettivo di valorizzare il commercio urbano, realizzare progetti innovativi e azioni di animazione territoriale, riconoscere il commercio come un fattore di innovazione, integrazione e valorizzazione di tutte le risorse di cui dispone il territorio per accrescere l’attrattività, rigenerare il tessuto urbano e sostenere la competitività delle imprese commerciali.
          </small></p>
        </div>

        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h4 class="text-uppercase mb-4 pb-1 mx-4">CONTATTI</h4>
          <h6 class="fw-bold mx-4">Dipartimento Commercio</h6>
          <h6 class="fw-bold mx-4">Divisione Promozione Commercio e OPI</h6>

          <ul class="fa-ul">
            <p class="mb-3 mt-4">Via Meucci, 4 - Torino</p>
            <li class="mb-3 mx-3">
              <span class="mx-1">Tel. 011.01130245 - 011.01130816</span>
              <div class="mx-1">Dalle ore 9.30 alle ore 12.00 dal lunedì al venerdì</div>
            </li>
            <li class="mb-3 mx-3">
              <span class="mx-1">Mail: ductorino@comune.torino.it</span>
            </li>
          </ul>
        </div>

      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <a href="http://www.comune.torino.it/condizioni.shtml" style="color: rgb(255, 255, 255);">Condizioni d'uso</a>
    </div>
  </footer>