<hr>
<div class="py-5" id="piano-strategico">
<section class="py-5 text-center container" style="background: linear-gradient( rgba(253, 236, 3, 0.375), rgba(80, 156, 223, 0.518) )">
	<div class="row py-lg-5 mx-5 bg-light bg-opacity-75">
	  <div class="col-lg-6 col-md-8 mx-auto">
		<h1 class="fw-dark">PIANO STRATEGICO</h1>
		<p class="lead text-muted">Il Distretto del Commercio del Comune di Torino</p>
		<p class="text">Piano Strategico Triennale</p>
		<p>
		  <a href="assets/docs/DUC_finale_schede brevi_2701.pdf" class="btn btn-outline-primary my-2 mx-2">Consulta<i class="fa-solid fa-book-open-reader"></i></a>
		  <a href="assets/docs/DUC_finale_schede brevi_2701.pdf" class="btn btn-outline-primary my-2 mx-2" download="{{site.baseurl}}/assets/docs/DUC_finale_schede brevi_2701.pdf">Scarica</a>
		</p>
	</div>
</section>
</div>